# Lists
- Functions 
- Unpacking 
- Multiplication operations 
- Slicing 
- Finding an element in list
- Efficient way to work with lists

## Creation of list 
Method 1: with list class object  (formal notation)   
Method 2: bracket syntax (literal notation)

In [14]:
# formal notation 
list_formal = list((1,2,3))
list_formal

[1, 2, 3]

In [15]:
# Literal notation
list_literal = [1,2,3]

In [16]:
# Creation of big list can be time taking, and time Efficiency of literal format is higher than the formal notation

### List functions
- append()
- insert()
- pop()
- remove()
- extend()
- len()
- count() 
- index()
- sort() 
- reverse()
- clear() 
- del

In [17]:
# Useful functions of lists: 

# Appending: 
list_literal.append(5)
list_literal

[1, 2, 3, 5]

In [18]:
# Inserting

list_literal.insert(2,10)
list_literal

# Added 10 at index 2

[1, 2, 10, 3, 5]

In [19]:
# Deleting last item
list_literal.pop()

list_literal

[1, 2, 10, 3]

In [20]:
# Removing/Deleting a specific element (first occurance)

list_literal.remove(10)
list_literal

[1, 2, 3]

In [21]:
# Removing Element at specified index

# we use pop() for this operation, by default, pop has -1 index, but we can pass desired index
list_literal.pop(1)
list_literal

[1, 3]

In [22]:
# Adding another list into other list

list_literal.extend([5,2,7,8,9])
list_literal

[1, 3, 5, 2, 7, 8, 9]

In [23]:
# Finding length of list
len(list_literal)

7

In [24]:
# Counting the number, an element repeated in a list 

# Number of time 5 is repeated in a list
list_literal.count(5)

1

In [25]:
# Clearing all the elements of list: 
list_to_clear = [1,2,3,4,5]
list_to_clear.clear()

print(list_to_clear)

[]

In [26]:
# Another syntax to clear a list 
list_to_clear = [1,2,3,4,5]

del list_to_clear[:]
print(list_to_clear)

[]

In [27]:
# Deleting a list 
del list_to_clear

# list_to_clear

In [28]:
# Find index of any element in list 
list_literal.index(5)

2

In [29]:
# Sorting list in ascending order 
list_literal.sort()
print(list_literal)

[1, 2, 3, 5, 7, 8, 9]

In [30]:
# Sorting list in descending order 
list_literal.sort(reverse = True )
list_literal

[9, 8, 7, 5, 3, 2, 1]

In [31]:
# Reversing a list which is equal of sorting in descending order 
list_literal.reverse()
list_literal

[1, 2, 3, 5, 7, 8, 9]

### Unpacking a list 
using an asterisk () before the list name. This is called “unpacking” or “splat” operator. It can be used in different scenarios such as function arguments or in assigning values to multiple variables.

In [32]:
# Unpacking a list 
print(*list_literal)

1 2 3 5 7 8 9

If you want to unpack the first few elements of a list and don’t care about the other elements, you can:

First, unpack the needed elements to variables.
Second, pack the leftover elements into a new list and assign it to another variable.
By putting the asterisk (*) in front of a variable name, you’ll pack the leftover elements into a list and assign them to a variable. For example:

In [35]:
# More on Unpacking 
colors = ['red', 'blue', 'green', "yellow"]
first, second, *other = colors

print(first)
print(second)
print(other)

red
blue
['green', 'yellow']

In [39]:
# Combinning 2 lists into 1 list 

combined_list = [list_literal,list_formal]
combined_list

[[1, 2, 3, 5, 7, 8, 9], [1, 2, 3]]

In [40]:
# But we want elements of list1 and list2 into list3 
combined_list = [*list_literal,*list_formal]
combined_list

[1, 2, 3, 5, 7, 8, 9, 1, 2, 3]

In [41]:
# Another syntax of combinning 2 lists 
combined_list = list_literal+list_formal
combined_list

[1, 2, 3, 5, 7, 8, 9, 1, 2, 3]

In [42]:
# Passing list elements into function

def add(a,b,c):
    return a+b+c

print(add(*[9,1,5]))

15

In [43]:
a,*b,c = [1,2,3,4,5,6]
print(a,b,c)

1 [2, 3, 4, 5] 6

In [44]:
a,b,*c = [1,2,3,4,5,6]
print(a,b,c)

1 2 [3, 4, 5, 6]

In [45]:
*a,b,c = [1,2,3,4,5,6]
print(a,b,c)

[1, 2, 3, 4] 5 6

Packing values in a variable with the * operator can be handy when we need to collect the elements of a generator in a single variable without using the list() function. In the following examples, we use the * operator to pack the elements of a generator expression and a range object to a individual variable

In [46]:
gen = (x**2 for x in range (10))
gen

In [47]:
# We can unpack this generator object using * 
# IMPORTANT, We need trailling comma 

*gen_unpack, = gen 
print(gen_unpack)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [48]:
# We can do the same with range object as well 
ran = range(10)
ran

range(0, 10)

In [54]:
*range_unpack, = ran

range_unpack

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [55]:
args = [3, 6]
list(range(*args))

[3, 4, 5]

### Multiplication Opetaion on  lists

In [50]:
# Multiplying a list by some number will add same elements in same list, in number of time, it is multiplied 

print(list_literal)
print(list_literal*3)

[1, 2, 3, 5, 7, 8, 9]
[1, 2, 3, 5, 7, 8, 9, 1, 2, 3, 5, 7, 8, 9, 1, 2, 3, 5, 7, 8, 9]

### Finding an element in list

In [52]:
print(3 in list_literal)

True

### Slicing

**Important**   
Slicing always returns shallow copy

# Tuples

**Topics to cover:**  
1. Tuple Creation Methods: 
    - Formal notation 
    - Literal notation
    - without any notation (Since all these variations are valid Python syntax, we can use any of them, depending on the situation. Arguably, the last syntax is more commonly used when it comes to unpacking in Python.)    
    

2. Methods on Tuples
3. Access Values 
4. Delete Tuple 
5. Update Tuple 
6. Theory of Tuples 

Discuss that we can create tuples, without brackets or tuple class, 
To create a tuple object, we don't need to use a pair of parentheses () as delimiters.

# Dictionaries
discuss .format vs f string here

# Sets
discuss that set doesnot have any literal syntax

# Frozen Sets