# Lists
- Functions 
- Unpacking 
- Multiplication operations 
- Slicing 
- Efficient way to working with lists

## Creation of list 
Method 1: with list class object  (formal notation)   
Method 2: bracket syntax (literal notation)

In [63]:
# formal notation 
list_formal = list((1,2,3))
l1

[1, 2, 3]

In [64]:
# Literal notation
list_literal = [1,2,3]

In [65]:
# Creation of big list can be time taking, and time Efficiency of literal format is higher than the formal notation

### List functions
- append()
- insert()
- pop()
- remove()
- extend()
- len()
- count() 
- index()
- sort() 
- reverse()
- clear() 
- del

In [66]:
# Useful functions of lists: 

# Appending: 
list_literal.append(5)
list_literal

[1, 2, 3, 5]

In [67]:
# Inserting

list_literal.insert(2,10)
list_literal

# Added 10 at index 2

[1, 2, 10, 3, 5]

In [68]:
# Deleting last item
list_literal.pop()

list_literal

[1, 2, 10, 3]

In [69]:
# Removing/Deleting a specific element (first occurance)

list_literal.remove(10)
list_literal

[1, 2, 3]

In [70]:
# Removing Element at specified index

# we use pop() for this operation, by default, pop has -1 index, but we can pass desired index
list_literal.pop(1)
list_literal

[1, 3]

In [71]:
# Adding another list into other list

list_literal.extend([5,2,7,8,9])
list_literal

[1, 3, 5, 2, 7, 8, 9]

In [72]:
# Finding length of list
len(list_literal)

7

In [73]:
# Counting the number, an element repeated in a list 

# Number of time 5 is repeated in a list
list_literal.count(5)

1

In [74]:
# Clearing all the elements of list: 
list_to_clear = [1,2,3,4,5]
list_to_clear.clear()

print(list_to_clear)

[]

In [75]:
# Another syntax to clear a list 
list_to_clear = [1,2,3,4,5]

del list_to_clear[:]
print(list_to_clear)

[]

In [76]:
# Deleting a list 
del list_to_clear

# list_to_clear

In [77]:
# Find index of any element in list 
list_literal.index(5)

2

In [78]:
# Sorting list in ascending order 
list_literal.sort()
print(list_literal)

[1, 2, 3, 5, 7, 8, 9]

In [80]:
# Sorting list in descending order 
list_literal.sort(reverse = True )
list_literal

[9, 8, 7, 5, 3, 2, 1]

In [81]:
# Reversing a list which is equal of sorting in descending order 
list_literal.reverse()
list_literal

[1, 2, 3, 5, 7, 8, 9]

### Unpacking a list 
using an asterisk () before the list name. This is called “unpacking” or “splat” operator. It can be used in different scenarios such as function arguments or in assigning values to multiple variables.

In [36]:
# Unpacking a list 
print(*list_literal)

1 3 5 6 7 8 9

If you want to unpack the first few elements of a list and don’t care about the other elements, you can:

First, unpack the needed elements to variables.
Second, pack the leftover elements into a new list and assign it to another variable.
By putting the asterisk (*) in front of a variable name, you’ll pack the leftover elements into a list and assign them to a variable. For example:

In [39]:
# More on Unpacking 
colors = ['red', 'blue', 'green', "yellow"]
first, second, *other = colors

print(red)
print(blue)
print(other)

red
blue
['green', 'yellow']

In [41]:
# Combinning 2 lists into 1 list 

combined_list = [list_literal,list_formal]
combined_list

[[1, 3, 5, 6, 7, 8, 9], [1, 2, 3]]

In [42]:
# But we want elements of list1 and list2 into list3 
combined_list = [*list_literal,*list_formal]
combined_list

[1, 3, 5, 6, 7, 8, 9, 1, 2, 3]

In [45]:
# Another syntax of combinning 2 lists 
combined_list = list_literal+list_formal
combined_list

[1, 3, 5, 6, 7, 8, 9, 1, 2, 3]

In [46]:
# Passing list elements into function

def add(a,b,c):
    return a+b+c

print(add(*[9,1,5]))

15

In [94]:
a,*b,c = [1,2,3,4,5,6]
print(a,b,c)

1 [2, 3, 4, 5] 6

### Multiplication Opetaion on  lists

In [90]:
# Multiplying a list by some number will add same elements in same list, in number of time, it is multiplied 

print(list_literal)
print(list_literal*3)

[1, 2, 3, 5, 7, 8, 9]
[1, 2, 3, 5, 7, 8, 9, 1, 2, 3, 5, 7, 8, 9, 1, 2, 3, 5, 7, 8, 9]

# Tuples
Discuss that we can create tuples, without brackets or tuple class,

# Dictionaries
discuss .format vs f string here

# Sets
discuss that set doesnot have any literal syntax

# Frozen Sets