In [1]:
import pandas as pd 
import numpy as np

In [7]:
# This is etherium blockchain data for every our, open price of candle, highest price, lowest price, closed price of candle and
# volume in each our
df = pd.read_csv("CSVs\ETH_1h.csv")

In [8]:
df.head()

               Date  Symbol    Open    High     Low   Close      Volume
0  2020-03-13 08-PM  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1  2020-03-13 07-PM  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2  2020-03-13 06-PM  ETHUSD  124.47  124.85  115.50  119.51  4898735.81
3  2020-03-13 05-PM  ETHUSD  124.08  127.42  121.63  124.47  2753450.92
4  2020-03-13 04-PM  ETHUSD  124.85  129.51  120.17  124.08  4461424.71

In [9]:
df.shape

(23674, 7)

## Checking if pandas can read our date column
If the date column is in pandas available formats than we donot need to specify pandas how to read the date colum but if it is not written in specified formats than we need to tell pandas how to read that column and turn it into date time object

In [10]:
# let's pluck out first date 
df.Date[0]

'2020-03-13 08-PM'

In [11]:
# Let's check if the pandas can read the format or not, if not than we need to specify pandas how to read it
df.Date[0].day_name()

# It is giving us error that this is string object

AttributeError: 'str' object has no attribute 'day_name'

In [12]:
# we can do this but pandas throw error because the Date column is not in the usual or conventional format 
# if it was in convential format than pandas will automatically convert this column from str to datetime
df["Date"] = pd.to_datetime(df["Date"])

ParserError: Unknown string format: 2020-03-13 08-PM

In [14]:
# So we need to specify pandas how to read it
# https://docs.python.org/3/library/datetime.html
# you can check how I picker Y for year and m for month from the link above
df["Date"] = pd.to_datetime(df["Date"], format = "%Y-%m-%d %I-%p")

In [16]:
df["Date"].dtype

dtype('<M8[ns]')

In [17]:
df["Date"]

0       2020-03-13 20:00:00
1       2020-03-13 19:00:00
2       2020-03-13 18:00:00
3       2020-03-13 17:00:00
4       2020-03-13 16:00:00
                ...
23669   2017-07-01 15:00:00
23670   2017-07-01 14:00:00
23671   2017-07-01 13:00:00
23672   2017-07-01 12:00:00
23673   2017-07-01 11:00:00
Name: Date, Length: 23674, dtype: datetime64[ns]

In [19]:
# now we can apply datetime functions on it
df.Date[0].day_name()

'Friday'

## Loading csv and specify datetime there

In [20]:
df = pd.read_csv("CSVs\ETH_1h.csv", parse_dates=["Date"], date_parser=lambda x: pd.datetime.strptime(x,"%Y-%m-%d %I-%p"))

C:\Users\Meer\AppData\Local\Temp\ipykernel_13272\1464560813.py:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  df = pd.read_csv("CSVs\ETH_1h.csv", parse_dates=["Date"], date_parser=lambda x: pd.datetime.strptime(x,"%Y-%m-%d %I-%p"))

In [21]:
df["Date"].dtype

dtype('<M8[ns]')

In [22]:
# accessing the days of all dates in "Date" column
df["Date"].dt.day_name()

0          Friday
1          Friday
2          Friday
3          Friday
4          Friday
           ...
23669    Saturday
23670    Saturday
23671    Saturday
23672    Saturday
23673    Saturday
Name: Date, Length: 23674, dtype: object

In [23]:
# Adding a new column of day in dataframe
df["DayOfWeek"] =  df["Date"].dt.day_name()

In [24]:
df

,Date,Symbol,Open,High,Low,Close,Volume,DayOfWeek
0,2020-03-13 20:00:00,ETHUSD,129.94,131.82,126.87,128.71,1940673.93,Friday
1,2020-03-13 19:00:00,ETHUSD,119.51,132.02,117.10,129.94,7579741.09,Friday
2,2020-03-13 18:00:00,ETHUSD,124.47,124.85,115.50,119.51,4898735.81,Friday
3,2020-03-13 17:00:00,ETHUSD,124.08,127.42,121.63,124.47,2753450.92,Friday
4,2020-03-13 16:00:00,ETHUSD,124.85,129.51,120.17,124.08,4461424.71,Friday
...,...,...,...,...,...,...,...,...
23669,2017-07-01 15:00:00,ETHUSD,265.74,272.74,265.00,272.57,1500282.55,Saturday
23670,2017-07-01 14:00:00,ETHUSD,268.79,269.90,265.00,265.74,1702536.85,Saturday
23671,2017-07-01 13:00:00,ETHUSD,274.83,274.93,265.00,268.79,3010787.99,Saturday
23672,2017-07-01 12:00:00,ETHUSD,275.01,275.01,271.00,274.83,824362.87,Saturday
23673,2017-07-01 11:00:00,ETHUSD,279.98,279.99,272.10,275.01,679358.87,Saturday

In [25]:
# Checking the earliest date in the time series data
df["Date"].min()

Timestamp('2017-07-01 11:00:00')

In [26]:
# Checking the latest date in the time series data
df["Date"].max()

Timestamp('2020-03-13 20:00:00')

In [27]:
# we can also calculate the days between two dates and it is called **Time Delta**
df["Date"].max() - df["Date"].min()

Timedelta('986 days 09:00:00')

In [33]:
# Accessing only 2020 data
filt = df["Date"] >= "2020"
df.loc[filt]

,Date,Symbol,Open,High,Low,Close,Volume,DayOfWeek
0,2020-03-13 20:00:00,ETHUSD,129.94,131.82,126.87,128.71,1940673.93,Friday
1,2020-03-13 19:00:00,ETHUSD,119.51,132.02,117.10,129.94,7579741.09,Friday
2,2020-03-13 18:00:00,ETHUSD,124.47,124.85,115.50,119.51,4898735.81,Friday
3,2020-03-13 17:00:00,ETHUSD,124.08,127.42,121.63,124.47,2753450.92,Friday
4,2020-03-13 16:00:00,ETHUSD,124.85,129.51,120.17,124.08,4461424.71,Friday
...,...,...,...,...,...,...,...,...
1744,2020-01-01 04:00:00,ETHUSD,129.57,130.00,129.50,129.56,702786.82,Wednesday
1745,2020-01-01 03:00:00,ETHUSD,130.37,130.44,129.38,129.57,496704.23,Wednesday
1746,2020-01-01 02:00:00,ETHUSD,130.14,130.50,129.91,130.37,396315.72,Wednesday
1747,2020-01-01 01:00:00,ETHUSD,128.34,130.14,128.32,130.14,635419.40,Wednesday
1748,2020-01-01 00:00:00,ETHUSD,128.54,128.54,128.12,128.34,245119.91,Wednesday

In [35]:
filt = df["Date"] >= "2020"
df.loc[filt].max()

# it is not going above 2022 because our last date in the df is 2020-03-13

Date         2020-03-13 20:00:00
Symbol                    ETHUSD
Open                      286.39
High                       290.0
Low                        285.1
Close                     286.39
Volume               19731142.71
DayOfWeek              Wednesday
dtype: object

In [42]:
# to get the data of only 2019 we need to set the upper bound as well
filt = (df["Date"] < "2020") & (df["Date"] >= "2019")
df.loc[filt].max()

Date         2019-12-31 23:00:00
Symbol                    ETHUSD
Open                      355.31
High                      364.49
Low                       348.84
Close                     355.31
Volume               29887309.86
DayOfWeek              Wednesday
dtype: object

In [57]:
# Another method to the same when we want to specify the days as well 
filt = (df["Date"] < pd.to_datetime("2020-1-1")) & (df["Date"] >= "2019-1-1")
df.loc[filt].max()

# There are two methods above, either we can use pd.to_datetime() or we can directly give the string and pandas will conver

Date         2019-12-31 23:00:00
Symbol                    ETHUSD
Open                      355.31
High                      364.49
Low                       348.84
Close                     355.31
Volume               29887309.86
DayOfWeek              Wednesday
dtype: object