# Updating Rows and Columns

In [1]:
import pandas as pd
import numpy as np

In [2]:
#  dummy dictionary to convert it into dataframe

data = {
    'name': ['Alice', 'Bob', 'Charlie', 'David'],
    'age': [25, 32, 18, 47],
    'shape': ['New York', 'Paris', 'London', 'San Francisco']
}

In [6]:
data = pd.DataFrame(data)

In [3]:
df = pd.read_csv("CSVs\survey_results_public.csv")

## Changing Names of all the columns at once

In [8]:
# Let's first look at all the columns in our dummy data
data.columns

Index(['name', 'age', 'shape'], dtype='object')

In [10]:
# changing names of all the columns at once,
# Let's say I want to change the column name "shape" from "city" and I want to 
# keep rest the same
# but the syntax below takes all column name, and if we want to change some specific column name we can do it with
# another syntax that we will talk later (without passing all column names)

data.columns = ["name", "age", "city"]

In [12]:
data.columns
# If I look into my data, column names are changed

Index(['name', 'age', 'city'], dtype='object')

## Altering something in all column names using list comprehension
Let's say we want to upper case all the column names or, replace the spaces with the underscore, we can do it using the list comprehension

In [13]:
data.columns = [x.upper() for x in data.columns]

In [14]:
data.columns

Index(['NAME', 'AGE', 'CITY'], dtype='object')