# Aggregation and Grouping

In [1]:
import pandas as pd 
import numpy as np

In [8]:
#  dummy dictionary to convert it into dataframe

data = {
    'first_name': ['Alice', 'Bob', 'Charlie', 'David'],
    'last_name': ['Pretty', 'Chura', 'BC', 'BSDK'],
    'age': [25, 32, 18, 47],
    'city': ['New York', 'Paris', 'London', 'San Francisco'],
    'salary':[10000,120000,125000,105000]
}

In [9]:
data = pd.DataFrame(data)

In [10]:
df = pd.read_csv("CSVs\survey_results_public.csv")

In [11]:
pd.set_option("display.max_columns",85)
pd.set_option("display.max_rows",85)

## Aggregation
Aggregation means combining multiple pieces of data into single results
e.g. mean(), median() ,mode() are aggregate function because it combines multiple values and gives us single result

In [12]:
df["ConvertedComp"].head(15)

0          NaN
1          NaN
2       8820.0
3      61000.0
4          NaN
5     366420.0
6          NaN
7          NaN
8      95179.0
9      13293.0
10         NaN
11         NaN
12     90000.0
13     57060.0
14         NaN
Name: ConvertedComp, dtype: float64

### Collecting median values
Median values gives us the middle value and ignore the **NaN values**
- why we use median to take the middle value of salaries and not the mean() 9s because mean is affected by the outliers and median does not have that much affect of the outliers

In [13]:
df["ConvertedComp"].median()

57287.0

In [14]:
# COOL STUFF
# Applying median on the whole dataframe will check the dataframe for the integer values and 
# gives us the resultant column medians
df.median()

C:\Users\Meer\AppData\Local\Temp\ipykernel_51148\4150609088.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median()

Respondent       44442.0
CompTotal        62000.0
ConvertedComp    57287.0
WorkWeekHrs         40.0
CodeRevHrs           4.0
Age                 29.0
dtype: float64

In [15]:
pd.__version__

'1.4.4'

### Getting broader view of data using describe()

In [16]:
df.describe()

,Respondent,CompTotal,ConvertedComp,WorkWeekHrs,CodeRevHrs,Age
count,88883.000000,5.594500e+04,5.582300e+04,64503.000000,49790.000000,79210.000000
mean,44442.000000,5.519014e+11,1.271107e+05,42.127197,5.084308,30.336699
std,25658.456325,7.331926e+13,2.841523e+05,37.287610,5.513931,9.178390
min,1.000000,0.000000e+00,0.000000e+00,1.000000,0.000000,1.000000
25%,22221.500000,2.000000e+04,2.577750e+04,40.000000,2.000000,24.000000
50%,44442.000000,6.200000e+04,5.728700e+04,40.000000,4.000000,29.000000
75%,66662.500000,1.200000e+05,1.000000e+05,44.750000,6.000000,35.000000
max,88883.000000,1.000000e+16,2.000000e+06,4850.000000,99.000000,99.000000

In [17]:
# we can also run describe method on series 
df["ConvertedComp"].describe()

count    5.582300e+04
mean     1.271107e+05
std      2.841523e+05
min      0.000000e+00
25%      2.577750e+04
50%      5.728700e+04
75%      1.000000e+05
max      2.000000e+06
Name: ConvertedComp, dtype: float64

In [19]:
# count in the descibe method result give us the not NaN values count 
df["ConvertedComp"].count()

# we have total 80000+ rows but the people who entered their salaries are just 55823

55823

In [24]:
# What if we want to calculate How many people have do programming from the "Hobbyist" column
df["Hobbyist"].value_counts()

# value_counts() is really helpful when we want to get the count data on specific values

Yes    71257
No     17626
Name: Hobbyist, dtype: int64

In [25]:
# value_counts() is mostly used when we work on dicrete number of outputs from the dataset column 
# There's another usecase in above Dataset, like we want to check how many people use which social media and we have a column
# in the dataframe "SocialMedia"
df["SocialMedia"].value_counts()

# this will give us the number of people using each social media

Reddit                      14374
YouTube                     13830
WhatsApp                    13347
Facebook                    13178
Twitter                     11398
Instagram                    6261
I don't use social media     5554
LinkedIn                     4501
WeChat 微信                     667
Snapchat                      628
VK ВКонта́кте                 603
Weibo 新浪微博                     56
Youku Tudou 优酷                 21
Hello                          19
Name: SocialMedia, dtype: int64

In [27]:
# to broke down the above results on percentage we use the normalize argument and set it True
df["SocialMedia"].value_counts(normalize=True)


# it is giving us the 17% of users use Reddit

Reddit                      0.170233
YouTube                     0.163791
WhatsApp                    0.158071
Facebook                    0.156069
Twitter                     0.134988
Instagram                   0.074150
I don't use social media    0.065777
LinkedIn                    0.053306
WeChat 微信                   0.007899
Snapchat                    0.007437
VK ВКонта́кте               0.007141
Weibo 新浪微博                  0.000663
Youku Tudou 优酷              0.000249
Hello                       0.000225
Name: SocialMedia, dtype: float64

## Groupping
Popularity of social medias vary allot on the basis of the countries  
So, to get the results in which we can see each country with the percentage of social medias used in that country we use the grouping technique