# Aggregation and Grouping

In [1]:
import pandas as pd 
import numpy as np

In [8]:
#  dummy dictionary to convert it into dataframe

data = {
    'first_name': ['Alice', 'Bob', 'Charlie', 'David'],
    'last_name': ['Pretty', 'Chura', 'BC', 'BSDK'],
    'age': [25, 32, 18, 47],
    'city': ['New York', 'Paris', 'London', 'San Francisco'],
    'salary':[10000,120000,125000,105000]
}

In [9]:
data = pd.DataFrame(data)

In [10]:
df = pd.read_csv("CSVs\survey_results_public.csv")

In [11]:
pd.set_option("display.max_columns",85)
pd.set_option("display.max_rows",85)

## Aggregation
Aggregation means combining multiple pieces of data into single results
e.g. mean(), median() ,mode() are aggregate function because it combines multiple values and gives us single result

In [12]:
df["ConvertedComp"].head(15)

0          NaN
1          NaN
2       8820.0
3      61000.0
4          NaN
5     366420.0
6          NaN
7          NaN
8      95179.0
9      13293.0
10         NaN
11         NaN
12     90000.0
13     57060.0
14         NaN
Name: ConvertedComp, dtype: float64

### Collecting median values
Median values gives us the middle value and ignore the **NaN values**

In [13]:
df["ConvertedComp"].median()

57287.0

In [14]:
# COOL STUFF
# Applying median on the whole dataframe will check the dataframe for the integer values and 
# gives us the resultant column medians
df.median()

C:\Users\Meer\AppData\Local\Temp\ipykernel_51148\4150609088.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median()

Respondent       44442.0
CompTotal        62000.0
ConvertedComp    57287.0
WorkWeekHrs         40.0
CodeRevHrs           4.0
Age                 29.0
dtype: float64

In [15]:
pd.__version__

'1.4.4'

### Getting broader view of data using describe()

In [16]:
df.describe()

,Respondent,CompTotal,ConvertedComp,WorkWeekHrs,CodeRevHrs,Age
count,88883.000000,5.594500e+04,5.582300e+04,64503.000000,49790.000000,79210.000000
mean,44442.000000,5.519014e+11,1.271107e+05,42.127197,5.084308,30.336699
std,25658.456325,7.331926e+13,2.841523e+05,37.287610,5.513931,9.178390
min,1.000000,0.000000e+00,0.000000e+00,1.000000,0.000000,1.000000
25%,22221.500000,2.000000e+04,2.577750e+04,40.000000,2.000000,24.000000
50%,44442.000000,6.200000e+04,5.728700e+04,40.000000,4.000000,29.000000
75%,66662.500000,1.200000e+05,1.000000e+05,44.750000,6.000000,35.000000
max,88883.000000,1.000000e+16,2.000000e+06,4850.000000,99.000000,99.000000